body
{
  margin: 0;
  padding: 0;
}

.topBox
{
  display: flex;
  background-color: #9EFBDD;
  height: 100px;
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
  box-shadow: 0px 6px 10px;
}

.bottomBox
{
  background-color: #9EFBDD;
  height: 60px;
  margin-top: 50px;
}

.title
{
  text-align: center;
  font-family: 'Coustard', serif;
  transform: translateX(10%);
  font-size: 25px;
}

.btnExit
{
  margin-top: 30px;
  width: 50px;
  height: 25px;
  background-color: #9EFBDD;
  border: none;
}

.btnExitImg
{
  width: 50%;
  height: 75%;
  transform: translate(10px, 50%)
}

mkd-container {
  padding: 20px;
}

.mkd-text {
  margin: 150px;
}

.mkd-center {
  text-align: center;
}

.mkd-justify {
  text-align: justify;
}

#box {
  background: #fff;
  width: 200px;
  height: 100px;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
}

.teksInput
{
  margin-top: 10px;
  margin-bottom: 0px;
  margin-left: 20px;
  color: black;
}

.inputForm
{
  margin-left: 20px;
  margin-right: 20px;
  width: 315px;
  height: 40px;
  border-radius: 10px;
  border-color: lightgrey;
}

.radioIsolasi
{
  transform: translateY(30%)
}

.imageButton
{
  border: none;
  background: none;
  width: 30px;
  margin-top: 2px;
  margin-left: 300px;
}

.titleKeteranganZona
{
  border-radius: 50px;
  display: flex;
  border-style: solid;
  border-color: black;
  height: 50px;
}

#konfirmasiPengirimanFormulir
{
  border-style: solid;
  border-color: black;
  background-color: white;
  width: 300px;
  height: 100px;
  position: fixed;
  top: 220px;
  left: 27px;
  visibility: hidden;
}

.inputForm2
{
  display: none;
}

.topBoxOne
{
  background-color: #9EFBDD;
  height: 100px;
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
  box-shadow: 0px 10px;
}

/* Set the size of the div element that contains the map */
#map {
  height: 400px;
  width: 100%;
  margin: 30px;
}

.topBoxCekZonaCovid
{
  display: flex;
  background-color: #9EFBDD;
  height: 100px;
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
  box-shadow: 0px 6px 10px;
}

.titleCekZonaCovid
{
  width: 330px;
  font-size: 1.5rem;
  text-align: center;
  font-family: 'Coustard', serif;
}


.btnBackBeranda
{
  background-color: #4CA6A6;
  color: black;
  font-size: 13px;
  width: 200px;
  height: 40px;
  margin-left: 150px;
  border-top-left-radius: 100px;
  border-top-right-radius: 100px;
  border-bottom-left-radius: 100px;
  border-bottom-right-radius: 100px;
}


.btnBantuanzzz
{
  background-color: #FFEF5E;
  color: black;
  font-size: 15px;
  width: 200px;
  height: 40px;
  margin-left: 25px;
  margin-top: 25px;
  border-radius: 25px;
  max-width: 90%;
 
}

.btnBantuan
{
  font-family: 'Raleway', serif;
  border-radius: 15px;
  font-size: 18px;
  color: white;
  background-color: #47CBC7;
  width: 300px;
  height: 50px;
  margin-left: 25px;
  margin-top: 25px;
  max-width: 90%;
  align-content: center;
}


